body {
    font-family: Arial, sans-serif;
    background-image: url('https://plus.unsplash.com/premium_photo-1674729243673-0b5e871a8a24?q=80&w=1535&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 70% de opacidad */
    padding: 30px; /* Ajuste del padding */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ancho flexible que se adapta a la pantalla */
    max-width: 400px; /* Máximo ancho para pantallas grandes */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out; /* Transición suave para cambios */
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem; /* Aumenta el tamaño de fuente para mejor legibilidad */
}

/* Centrado y estilos de los botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1rem; /* Botones más grandes */
    box-sizing: border-box;
}

button:hover {
    background-color: #274c2f;
}

#resultados {
    margin-top: 20px;
}

#resultado {
    font-weight: bold;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
    .container {
        padding: 20px; /* Reduce el padding en pantallas más pequeñas */
        max-width: 90%; /* Asegura que no se sale en pantallas medianas */
    }

    input[type="text"], button {
        font-size: 0.9rem; /* Ajusta el tamaño de fuente para inputs y botones */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px; /* Aún menos padding para pantallas muy pequeñas */
        max-width: 95%; /* Asegura que siempre cabe en pantalla */
    }

    input[type="text"], button {
        font-size: 0.8rem; /* Ajuste adicional para pantallas muy pequeñas */
    }
}
